html {
    height: 100%;
	background:url(/img/haweswater.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.card {
	@include horizontal-center;
	margin-top: $global-margin;
	background: rgba(25,25,25,0.87);
	border: 0;
	text-align: center;
	width:90%;
	padding: $global-margin*2;
	color: $white;
	
	img.photo {
		display: inline-block;
		width:90px;
		height: auto;
		border-radius: 45px;
	}
	
	h1 {
		font-weight: bold;
		font-size: 28px;
		margin-top: $global-margin*2;
	}
	h2 {
		font-size: 22px;
		margin:0;
	}
	h3 {
		font-size: 18px;
		margin:0 0 $global-margin;
	}
	p {
		margin: $global-margin 0;
		font-size: rem-calc(14);
	}
	
	.social {
		margin: $global-margin*2 0 0;
		a {
			display: inline-block;
			margin: 0 $global-margin/2;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 20px;
			color: white;
			background: $primary-color;
			font-size: 22px;
			overflow: none;
			span {
				display: none;
			}
			i.fa-envelope {
				font-size: 18px;
			}
		}
	}
	
	@include breakpoint(medium) {
		@include absolute-center;
		margin-top: 0;
		width:420px;
	}
}