---
layout: base.njk
permalink: /
---
<ul class="post-list">
  {% for post in collections.posts %}
    <li class="post-list-item h-entry">
      <p class="post-meta">
        <time class="dt-published" datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
      </p>
      <h2 class="p-name"><a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a></h2>
      {% if post.data.description %}
        <p class="p-summary">{{ post.data.description }}</p>
      {% endif %}
      {% if post.data.tags %}
        <p class="tag-list">
          {%- for tag in post.data.tags %}<a class="tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% endfor -%}
        </p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
